





<div class="branch">
  <div class="outer">
       <div class="img_txt">
           <div class="txt">
              <h2 >SPINE</h2>
           </div>
       </div>
   </div>
<div>
<div>
<br>
<h1>WHAT IS SPINE?</h1>
</div>
<br>
<div>
<p id="intro3" class="spinep">
  Cardiology is a branch of medicine that deals with disorders of the 
  heart and the cardiovascular system. The field includes medical diagnosis 
  and treatment of congenital heart defects, coronary artery disease,
   heart failure, valvular heart disease and electrophysiology.
</p>
</div>
<br>

<div class="info" class="d-flex flex-row justify-content-center ">

  <button onclick="causes3()"  class="btn btn-info">Causes</button>

<button onclick="effects3()"  class="btn btn-info">Effects</button>

<button onclick="int3()"  class="btn btn-info">Information</button>
</div>
<br>
<div>
<h1>HOW DOES OUR HOSPITAL TREAT SPINE RELATED PROBLEMS</h1>
</div> 
<br>
<div>
<p class="spinep">
Diagnostic Electrophysiology studies
The electrophysiology study is a test conducted to examine the electrical system or activity of the heart
and detect any abnormal heartbeats or arrhythmia. The electrical activity is measured by advancing 
catheters   and wire electrodes through blood vessels that enter the heart. We take every possible care 
to ensure that your test remains uncomplicated. Several medications may be given to the patients
intravenously to sedate the part but they don't otherwise pose a threat to your body.

Catheter Ablation of Arrhythmias
This procedure uses radiofrequency energy to destroy a small part of the heart tissue responsible
for causing rapid and irregular heartbeats. Catheter ablation is used for the treatment of arrhythmias
only when medicines are ineffective or not tolerated. At Narayana, the best cardiology hospital in India,
Catheter ablation is sometimes done through open-heart surgery, but it's often done using catheters, 
to make the procedure less invasive and shortening recovery times.
</p>
</div>   

<br><hr><br>
