




<!--


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">MEDICURE HEALTHCARE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Health</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Center of Excellence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

-->




<h1  class="d" >MY APPOINTMENT WITH PATIENTS</h1>
<!--<table class="table">
    <thead >
        <tr >
            <th class="two" scope="col">Appointment ID</th>
            <th class="two" scope="col">Patient Username</th>
            <th class="two" scope="col">age</th>
            <th class="two" scope="col">Date and Timings</th>
            
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let appoint of appoints">
            <td class="one">{{appoint.appointmentid}}</td>
            <td class="one">{{appoint.pusername}}</td>
            <td class="one">{{appoint.age}}</td>
            <td class="one">{{appoint.date}}</td>
           
        </tr>

    </tbody>
</table>
-->
<div class="ok">
  <div class="okk oo">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="two" scope="col">Appointment ID</th>
              <th class="two" scope="col">Patient Username</th>
              <th class="two" scope="col">Age</th>
              <th class="two" scope="col">Date and Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appoint of appoints">
              <td class="one border">{{appoint.appointmentid}}</td>
              <td class="one border">{{appoint.pusername}}</td>
              <td class="one border">{{appoint.age}}</td>
              <td class="one border">{{appoint.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div class="okj">
<img src="../../assets/boy.jpg" class="o" alt="">

</div>
</div>
  
  
  
