


<div class="slider">
  <div class="slides">
    <!-- Radio Button Start  -->
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
    <!-- Radio Button Close  -->

    <!-- Slide Image Start -->
    
    <div class="slide first">
      <img src="../../assets/one.jpg" alt="">
    </div>
    <div class="slide">
      <img src="../../assets/bed2.jpg" alt="">
    </div>
    <div class="slide">
      <img src="../../assets/wom.jpg" alt="">
    </div>
    <div class="slide">
      <img src="../../assets/ambu.jpg" alt="">
    </div>
    <!-- Slide Image Close -->
   <!-- Automatic Navigation Start -->
   <div class="navigation-auto">
      <div class="auto-btn-1"></div>
      <div class="auto-btn-2"></div>
      <div class="auto-btn-3"></div>
      <div class="auto-btn-4"></div>
    </div>
    <!-- Automatic Navigation Close -->
  </div>
<!-- Slides Close -->
<!-- Mannual Navigation Start -->
<div class="navigation-mannual">
  <label for="radio1" class="mannual-btn"></label>
  <label for="radio2" class="mannual-btn"></label>
  <label for="radio3" class="mannual-btn"></label>
  <label for="radio4" class="mannual-btn"></label>
</div>
<!-- Mannual Navigation Close -->
</div>
<script>
  var counter = 1;
  setInterval(function()  {
    document.getElementById('radio'+ counter).checked = true;
    counter++; 

    if(counter>4){
      counter=1
    }

  },2300);
</script>
<br>


<section class="section_3">
  
  <div class="para-content">
      <div class="para_head">
      <h1>WE MEDICURE HEALTHCARE,</h1>
  </div><br>
      <p>
        Welcome to Medicure Healthcare

        At Medicure Healthcare, we are committed to providing exceptional healthcare services and improving the well-being of our patients. With state-of-the-art facilities, a dedicated team of medical professionals, and a patient-centric approach, we strive to deliver the highest quality care.
        
        Comprehensive Medical Services
      </p>
      <p>  
        We offer a wide range of medical services to meet the diverse needs of our patients. From preventive care and diagnostics to specialized treatments and surgeries, our experienced physicians and specialists are here to address your healthcare needs at every stage of life.
        
        Advanced Technology
      </p>
      <p>
        We leverage cutting-edge technology and equipment to ensure accurate diagnoses and effective treatments. Our hospital is equipped with modern facilities, including advanced imaging, diagnostic laboratories, and fully equipped operation theaters, enabling us to provide comprehensive and efficient healthcare solutions.
        
        Compassionate Care
      </p>
    
      <p>
        At Medicure Healthcare, our patients' well-being is our top priority. We believe in empowering patients with knowledge, involving them in decision-making, and tailoring treatments to their specific needs. We strive to create a warm and welcoming environment where patients feel supported and respected.
        
     
      </p><p>
        We are deeply committed to the well-being of the communities we serve. Through health education programs, awareness campaigns, and partnerships with local organizations, we actively contribute to the overall health and wellness of our community.
        
        Contact Us
        
        Whether you need medical assistance, have a query, or want to schedule an appointment, our friendly staff is ready to assist you. Feel free to contact us or visit our hospital. We look forward to serving you and helping you lead a healthier life.
      </p>
         
      <br>
      
  </div>
  <div class="image">
      <div class="img"><img src="../../assets/girl2.jpg" width="35%" height="35%"></div>
      <div class="img"><img src="../../assets/boy.jpg" width="35%" height="35%"></div>
      
  </div>
 
</section>


<br><hr><br>

