

<div class="health">
  <div >
      <h1 class="hhead" >LIFESTYLE FOR HEALTHY HEART</h1>
  </div>
  <div >
<div>
<img src="../../assets/heart.png" alt="" height="300px" width="300px">
</div>
<div >
<h2 id="title1">STEPS TO FOLLOW</h2>
<p id="benifits1" class="healthpara">
Don't smoke or use tobacco. <br> One of the best things you can do for your heart is to stop smoking or using smokeless tobacco
Get moving:<br> Aim for at least 30 to 60 minutes of activity daily
<br>Eat a heart-healthy diet
<br>Maintain a healthy weight
<br>Get good quality sleep
<br>Manage stress
<br>Get regular health screenings.

</p>
<button onclick="f3()" >
HEALTH BENIFITS
</button>
<button onclick="f13()" >
   STEPS TO FOLLOW
  </button>
</div>
  </div>
</div>

<div class="health" >
  <div >
      <h1 class="hhead" >LIFESTYLE FOR HEALTHY KIDNEY</h1>
  </div>
  <div  >
<div>
<img src="../../assets/kidney.png" alt="" height="300px" width="300px">
</div>
<div  >
<h2 id="title2">STEPS TO FOLLOW</h2>
<p  id="benifits2" class="healthpara">
Don't smoke or use tobacco. <br> One of the best things you can do for your heart is to stop smoking or using smokeless tobacco
Get moving:<br> Aim for at least 30 to 60 minutes of activity daily
<br>Eat a heart-healthy diet
<br>Maintain a healthy weight
<br>Get good quality sleep
<br>Manage stress
<br>Get regular health screenings.

</p>
<button onclick="f4()" >
HEALTH BENIFITS
</button>
<button onclick="f14()" >
   STEPS TO FOLLOW
  </button>
</div>
  </div>
</div>

<div class="health">
<div >
  <h1 class="hhead" >LIFESTYLE FOR HEALTHY LIVER</h1>
</div>
<div>
<div>
<img src="../../assets/liver.png" alt="" height="300px" width="300px">
</div>
<div  >
<h2 id="title3">STEPS TO FOLLOW</h2>
<p id="benifits3" class="healthpara">

Don't smoke or use tobacco. <br> One of the best things you can do for your heart is to stop smoking or using smokeless tobacco
Get moving:<br> Aim for at least 30 to 60 minutes of activity daily
<br>Eat a heart-healthy diet
<br>Maintain a healthy weight
<br>Get good quality sleep
<br>Manage stress
<br>Get regular health screenings.

</p>
<button onclick="f5()" >
HEALTH BENIFITS
</button>
<button onclick="f15()" >
STEPS TO FOLLOW
</button>
</div>
  </div>
</div>

<div class="health" >
  <div >
      <h1 class="hhead" >LIFESTYLE FOR HEALTHY BONES</h1>
  </div>
  <div  >
<div>
<img src="../../assets/bones.png" alt="" height="300px" width="300px">
</div>
<div>
<h2 id="title4">STEPS TO FOLLOW</h2>
<p id="benifits4" class="healthpara">
Don't smoke or use tobacco. <br> One of the best things you can do for your heart is to stop smoking or using smokeless tobacco
Get moving:<br> Aim for at least 30 to 60 minutes of activity daily
<br>Eat a heart-healthy diet
<br>Maintain a healthy weight
<br>Get good quality sleep
<br>Manage stress
<br>Get regular health screenings.

</p>
<button onclick="f6()" >
HEALTH BENIFITS
</button>
<button onclick="f16()" >
   STEPS TO FOLLOW
  </button>
</div>
  </div>
</div>
<br><hr><br>


